@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
 
.fuerte-windsurfing-container {
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.fuerte-windsurfing-disc-container {
    display: flex;
    justify-content: center;
}

.fuerte-windsurfing-disc {
    display: flex;
    border: 1px solid #d6dbe0;
    height: 350px;
    width: 80%;
}

.fuerte-windsurf-image {
    border: #d6dbe0 solid 1px;
    height: 325px;
    width: 300px;
    margin: 10px;
    
}

.ws-fuerte-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid #d6dbe0;
    border-radius: 20px;
    margin: 50px;
}

.ws-fuerte-cards1, .ws-fuerte-cards2, .ws-fuerte-cards3, .ws-fuerte-cards4, .ws-fuerte-cards5, .ws-fuerte-cards6, .ws-fuerte-cards7, .ws-fuerte-cards8, .ws-fuerte-cards9 {
    border: 1px solid #d6dbe0;
    margin: 2em;
    padding: 1em;
    height: 330px;
    width: 90%;
}


.ws-fuerte-card-image1 {
      height: 300px;
      width: 300px;
      margin: 290px;
      position: absolute;
      top: 5px;
      left: -180px;
    
    }
    
.ws-fuerte-card-image2 {
    height: 300px;
    width: 300px;  
    z-index: 1;      

}
   
