.navigation {
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
    padding: 10px;
}
.navigation-menu {
    border: 1px black solid;
    box-shadow: #FAFAFA;
    border-radius: 4px;
    background-color:#FAFAFA;
    width: 3em;
    height: 3em;
    margin: 5px;
    padding: 5px;
}

.menu-button {
    background-color: #000000;
    text-align: center;
    border-radius: 3px;
    height: 1.5px;
    padding: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
}
