* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.primary-header-section {
    display: flex;
    justify-content: flex-end;
    margin: 0.1em;
    padding: 0.1em;
}

.social-icon {
    margin:5px;
    padding:4px;
    width: 45px;
}

.navigation-section {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 215px;

}

.company-logo {
    width: 200px;
    margin: 0.4em;
}

ul {
    display: flex;
    align-items: flex-end;
}


li {
    margin: 20px;
    list-style-type: none;
    font-size: 18px;
}