@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.logo {
    display:flex;
    justify-content: center;
    height: fit-content;
    margin: 10px;
    padding: 10px;
}

.primary-header-section {
    display: flex;
    align-items: flex-end;
    background-color: #000000;
    position:absolute;
    opacity: 0.8;
    width:100%;
    justify-content: space-evenly;
    height:7.5em;
    z-index: 1;
}

.primary-header-section:hover {
    background-color:#009dc4;
    opacity:0.8;
    color:#FFFFFF;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:5px;
    font-size: 20px;
    font-weight: 500;
}

a:hover {
    color:#FFFFFF;

}
/*Styles for carousel*/
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.image-slides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
 
h1 {
    text-align: right;
    color:#009dc4;
    font-size: 100px;
    font-weight:600;
    padding: 0.1em;
    line-height: 80px;
    margin-right:0.5em;
}

.main-section {
   display:flex;
   justify-content: center;
   height: 400px;
   margin: 50px;
}
   
.courses-cards {
    justify-content: space-between;
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    border: lightgray 1px solid;
    text-align: center;
}

div.hero-section {
    /*background-image: url(./assets/Windsurfing_hero.jpeg);*/
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: #FFFFFF 1px solid;
    height: 45em;
    width: 100%;
}


h2 {
    font-size: 80px;
    font-weight: 500;
    color: #FFFFFF;
}

#island-header {
    display: flex;
    justify-content: flex-end;
}
  
#gran_canaria-info-section, #tenerife-info-section, #fuerteventura-info-section, #lanzarote-info-section, #ocean_clean-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: #FFFFFF 1px solid;
    align-items: center;
    height: 50em;
}

#gran_canaria-info-section {
    background-image: url(./assets/GranCanaria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    width: 100%;
}

#tenerife-info-section {
    background-image: url(./assets/Tenerife.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    width: 100%;
}

#fuerteventura-info-section {
    background-image: url(./assets/fuerteventura.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    width: 100%;
}

#lanzarote-info-section {
    background-image: url(./assets/lanzarote\ .webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50em;
    width: 100%;
}

#ocean_clean-info-section {
    background-image: url(./assets/ocean_clean.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px #FFFFFF solid;
    margin-bottom: 0;
    height: 50em;
    width: 100%;
}


.islandbtn {
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border:none;
}

.islandbtn:hover {
    border:#009dc4 4px solid;
    color: #009dc4;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30em;
    background-color: #009dc4;
    color:#FFFFFF
}

.footer-heading {
    margin-top: 5em;
    font-size: 22px;
    font-weight: 400;
    text-decoration: #FFFFFF underline;
}

.social-footer-heading, .links-footer-heading {
    margin-top: 5em;
    margin-bottom: 15px;
    font-size: 22px;
    text-decoration: #FFFFFF underline;
    font-weight: 400;
}
    

.social, .links {
    display: flex;
    flex-direction: column;
}

#social-icon, #world-wide-web-icon {
    margin: 10px;
    width: 35px;
}
    

li {
    margin: 30px;
    margin-left: 0;
    list-style-type: none;
}

.copywrite {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    height: 3em;
}
    


    






