@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    
}

.primary-header-section {
    align-items: flex-end;
    border-bottom: lightgray 1px solid;
    display: flex;
    height: 9em;
    justify-content: space-between;
    margin: 0.1em;
    opacity: 0.5;
    padding: 0.1em;
    
}

.primary-header-section:hover {
    background-color:#009dc4;
}


a {
    text-decoration: none;
    color: black;
    
}
    
ul {
    display: flex; 
}

li {
    margin: 15px;
    margin-bottom: 3px;
    list-style-type: none;
    font-size: 16px;
    text-transform: uppercase;
}

.main-section {
   display:flex;
   justify-content: center;
   width: 100%;

   
}
   
.courses-cards {
    justify-content: space-between;
    width: 300px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    border: lightgray 1px solid;
    text-align: center;
   
    
}

.header{
    height:50px;
}

h1 {
    text-align: center;
    color: lightgray;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
   
}





