
/*carosual styling*/
#carousel-image {
    height: 40em;
    width: 100%;
}

.image-slides {
    background-color: #009dc4;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 8.0s;
    animation-name: fade;
    animation-duration: 1.5s;
    
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.about-this-site {
    margin-left: 2em;
    margin-right: 2em;
}

.about-site-header, .header {
    color: #009dc4;
    text-align: center;
    margin: 3em;
    font-size: 26px;
}

.course-heading {
    display: flex;
    color: #009dc4;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 8em;
}

.courses-cards-container {
    display: flex;
    background-color:#d6dbe0;
    justify-content: space-evenly;
    align-items: center;
    height: 50em;
    width: fit-content;
    text-align: center;
}

.course-header {
    font-size: 24px;
    font-weight: 500;
    margin: 15px;
}

.cards {

    background-color: #009dc4;
    color: #FFFFFF;
    border-radius: 20px;
    height: 30em;
    padding: 10px;
    line-height: 24px;
    width: 22.5%;
}


.courses-image {
    width: 300px;
    border-radius: 15px;
    
}

.course-buttons {
    border-radius: 10px;
    border: #FFFFFF 2px solid;
    background-color: #009dc4;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    width: 100px;
    padding: 6px;
    margin: 20px;
}

.course-buttons:hover {
    background-color: #00a9cc;
}


h2 {
    font-size: 80px;
    font-weight: 500;
    color: #FFFFFF;
}

/*island cards*/ 
#ocean_clean-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: #FFFFFF 1px solid;
    align-items: center;
    height: 50em;
}

#ocean_clean-info-section {
    background-image: url(../assets/ocean_clean.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px #FFFFFF solid;
    margin-bottom: 0;
    height: 50em;
    width: 100%;
}


.islandbtn {
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border:none;
}

.islandbtn:hover {
    border:#009dc4 4px solid;
    color: #009dc4;
}

#contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    
}

.contact-header {
    font-size: 32px;
    color: #009dc4;
    
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45em;
    background-color:#d6dbe0;
    
}

.contact-form {
    background-color: #009dc4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 35em;
    padding: 20px;
    width: 80%;
}

#name, #lastname, #email {
    margin: 8px;
}

.label {
    margin: 10px;
    color: #FFFFFF;
}

#submit-button {
    border-radius: 10px;
    border: none;
    width: 30em;
    margin: 8px;
    height: 40px;
    font-size: 18px;
    font-weight:600;
}

#submit-button:hover {
    border: #009dc4 1px solid;
    color:#009dc4;
    
    
}

input[type=text], input[type=email] {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 3em;
    padding: 8px;
}

#message {
    margin: 4px;
    border-radius: 5px;
    
}

    


    






